<mat-toolbar color="primary">
  <app-container>
    <img ngSrc="ball.png" alt="Euro Typer Logo" width="30" height="30" />
    <span>Typer 2026</span>
    <span class="example-spacer"></span>
    @if(isLoggedIn()) {
      <a matIconButton routerLink="/">
        <mat-icon>home</mat-icon>
      </a>
      <a matIconButton routerLink="/profile">
        <mat-icon>person</mat-icon>
      </a>
      <a matButton routerLink="/ranking">Ranking</a>
      <a matButton routerLink="/rounds">Rounds</a>
      @if(currentUser()?.isAdmin) {
        <button matButton [matMenuTriggerFor]="admin">Admin</button>
        <mat-menu #admin="matMenu">
          <a mat-menu-item routerLink="/admin/users">Users</a>
          <a mat-menu-item routerLink="/admin/teams">Team & players</a>
          <a mat-menu-item routerLink="/admin/rounds">Rounds & matches</a>
        </mat-menu>
      }
      <button matIconButton aria-label="Logout button" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <a matButton routerLink="/login">Login</a>
    }
  </app-container>
</mat-toolbar>
