<mat-toolbar color="primary">
  <app-container>
    <img ngSrc="ball.png" alt="Euro Typer Logo" width="30" height="30" />
    <span>Euro Typer 2026</span>
    <span class="example-spacer"></span>
    @if(isLoggedIn()) {
      <a matButton routerLink="/">Home</a>
      <a matButton routerLink="/ranking">Ranking</a>
      <a matButton routerLink="/rounds">Rounds</a>
      <button matIconButton aria-label="Logout button" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <a matButton routerLink="/login">Login</a>
    }

  </app-container>
</mat-toolbar>
