@if (showPaymentAlert()) {
  <app-alert
    [showIcon]="true"
    type="error"
  >
    You have not yet paid your entry fee! Contact the admin to pay.
  </app-alert>
}

@if (showSelectionAlert()) {
  <app-alert
    [showIcon]="true"
    type="warning"
  >
    You have not yet selected a winner or top scorer!
    <a routerLink='/profile'>Select now here</a>
  </app-alert>
}

@if (currentUser(); as currentUser) {
  <div class="card-row">
    <app-home-card
      title="Ranking"
      [content]="currentUser.leagueRank.toString()"
      icon="leaderboard"
    />
    <app-home-card
      title="Points"
      [content]="currentUser.points.toFixed(2)"
      icon="star"
    />
    <app-home-card
      title="Stop bet time"
      [content]="stopBetTime() ? (stopBetTime() | date:'MMM d, H:mm')! : '-'"
      icon="access_alarm"
    />
  </div>
  <div class="panels-row">
    <app-top-scorers />
    <app-ranking [isCompact]="true"/>
  </div>
} @else {
  <mat-spinner></mat-spinner>
}
