:host {
  width: 100%;
}

mat-card {
  width: 100%;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

app-home-card {
  flex: 1 0 calc(33.333% - 16px);
  min-width: 250px;
}

@media (max-width: 768px) {
  app-home-card {
    flex: 1 0 100%;
  }
}
