/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import "@ng-select/ng-select/themes/material.theme.css";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
}

.ng-select-container {
  background-color: rgb(224, 226, 236);
  padding-left: 16px;
  padding-top: 8px;
}

.snackbar-success {
  .mat-mdc-snackbar-surface {
    background-color: #5a9e5a !important;
  }
}
